<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>
    <div id="app">
        <form action="" method="post">
            <label>{{user.username}}</label><br/>
            <input type="text" name="username" :placeholder="usernameplaceholder" v-model="user.username"/><br/>
            <label>{{user.password}}</label><br/>
            <input type="text" name="password" :placeholder="passwordplaceholder" v-model="user.password"/>
        </form>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            usernameplaceholder:"请输入用户名",
            passwordplaceholder:"请输入密码",
            user:{
                username:"jack",
                password:"123456"
            }
        },
        methods:{

        }
    })
</script>
</html>